* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
    line-height: 1.5em;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    width: 100%;
    align-content: center;
    justify-items: center;

}

.blog-card-container {
    /* background: gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    height: fit-content;
    width: min-content;
    border: 0px solid white;
    border-radius: 8px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

.cactus-image {
    border: 0px solid white;
    border-radius: 8px;
    margin: 16px;
    width: auto;
    height: auto;
}

.design {
    background: #FAFAF9;
    color: #7C19EE;
    border-radius: 50px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
    font-weight: 700;
}

.blog-title {
    margin-bottom: 6px;
}

.blog-body {
    margin-bottom: 20px;
}

.seperator-line {
    width: 100%;
    border: 0.5px solid #E0E0E0;
    margin-bottom: 20px;
}

.author-name {
    margin-bottom: 20px;
}


/* text sizes */
.title {
    font-size: 1.125rem;
}

.body {
    font-size: 0.875rem;
}

.small-text {
    font-size: 0.75rem;
}

.tag {
    font-size: 0.625rem;
}

/* end text sizes */

.pl-16 {
    padding-left: 16px;
}

.gray-text {
    color: #394150;
}